{% extends 'base.html' %}

{% block head-css %}
{% endblock %}

{% block content-panel %}
<div class="row">
    <form class="form-inline" method="get" action="{% url 'asset_network' %}">
        <div class="form-group">
            <select  class="selectpicker"  data-live-search="true" name="business_unit" id="business_unit_search" title="请选择业务线">

            </select>
            <select  class="selectpicker"  data-live-search="true" name="management_ip" id="management_ip_search" title="请选择管理IP">

            </select>
            <input type="submit" class="btn btn-success" value="查询">
        </div>
    </form>
    <HR>
    <div class="col-md-12 col-xs-12 .col-sm-12">
        <button type="button" id="add" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">新增</button>
        <button type="button" class="btn btn-success navbar-right" id="asset_export">资产导出</button>
        <table class="table table-hover table-bordered table-condensed">
            <thead>
                <tr>
                    <th>id</th>
                    <th>业务线</th>
                    <th>资产</th>
                    <th>机柜列</th>
                    <th>机柜号</th>
                    <th>机柜中序号</th>
                    <th>序列号</th>
                    <th>厂商</th>
                    <th>型号</th>
                    <th>管理IP</th>
                    <th>VlanIP</th>
                    <th>内网IP</th>
                    <th>端口个数</th>
                    <th>购买时间</th>
                    <th>质保期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for i in posts %}
                <tr>
                    <td id="{{ i.id }}">{{ i.id }}</td>
                    <td class="business_unit" id="{{  i.business_unit.id }}">{{ i.business_unit.name}}</td>
                    <td class="asset" id="{{ i.asset.device_type_id }}">{{ i.asset.get_device_type_id_display }}</td>
                    <td class="cabinet_colum" id="{{ i.asset.cabinet_num.cabinet_num.id }}">{{ i.asset.cabinet_num.cabinet_num.name }}</td>
                    <td class="cabinet_num" id="{{ i.asset.cabinet_num.id }}">{{ i.asset.cabinet_num.name }}</td>
                    <td>{{ i.asset.cabinet_order }}</td>
                    <td>{{ i.sn }}</td>
                    <td>{{ i.manufacture }}</td>
                    <td >{{ i.model }}</td>
                    <td >{{ i.management_ip }}</td>
                    <td >{{ i.vlan_ip }}</td>
                    <td>{{ i.intranet_ip }}</td>
                    <td >{{ i.port_num }}</td>
                    <td >{{ i.asset.buy_date }}</td>
                    <td >{{ i.asset.guarantee_time }}</td>
                    <td >
                        <button type="button" class="btn btn-success edit" data-toggle="modal" data-target="#exampleModal">编辑</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination">
                {% if posts.has_previous %}
                <li><a href="{% url 'asset_network' %}?p={{ posts.previous_page_number }}&business_unit={{ business_unit }}&management_ip={{ management_ip }}" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
                {% else %}
                <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
                {% endif %}

                {% for i in posts.paginator.pager_num_range %}
                    {% if i == posts.number  %}
                <li class="active"><a href="{% url 'asset_network' %}?p={{ i }}&business_unit={{ business_unit }}&management_ip={{ management_ip }}">{{ i }} <span class="sr-only">(current)</span></a></li>
                    {% else %}
                <li><a href="{% url 'asset_network' %}?p={{ i }}&business_unit={{ business_unit }}&management_ip={{ management_ip }}">{{ i }} <span class="sr-only">(current)</span></a></li>
                    {% endif %}
                {% endfor %}

                {% if posts.has_next %}
                <li><a href="{% url 'asset_network' %}?p={{ posts.next_page_number }}" aria-label="Previous"><span aria-hidden="true">下一页</span></a></li>
                {% endif %}
            </ul>
        </nav>

    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">新增网络设备信息</h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">业务线名:</label>
                        <select class="server" style="width: 150px" id="business_unit__name">

                        </select>
                    </div>
                    <div class="form-group" >
                        <label for="recipient-name" class="control-label">设备类型:</label>
                        <select class=" server" style="width: 150px"  id="asset__device_type_id">

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">机柜排数:</label>
                        <select class="server" style="width: 150px"  id="asset__cabinet_num__cabinet_num_name">

                        </select>

                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">机柜号码:</label>
                        <select class=" server" style="width: 150px"   id="asset__cabinet_num">

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">机柜中的序号:</label>
                        <input type="text" class="form-control server" id="asset__cabinet_order">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">购买时间:</label>
                        <input type="date" class="form-control server" id="asset__buy_date">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">设备序列号:</label>
                        <input type="text" class="form-control server" id="sn">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">制造商:</label>
                        <input type="text" class="form-control server" id="manufacture">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">型号:</label>
                        <input type="text" class="form-control server" id="model">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">管理IP:</label>
                        <input type="text" class="form-control server" id="management_ip">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="control-label">VlanIP:</label>
                        <input type="text" class="form-control server" id="vlan_ip">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">内网IP:</label>
                        <input type="text" class="form-control server" id="intranet_ip">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">端口个数:</label>
                        <input type="text" class="form-control server" id="port_num">
                    </div>
                    <p class="col-lg-10 col-md-offset-1 bg-info remind hidden" id="err" >为空，请输入值</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" id="save" network_id="">保存</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom-js %}
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        $(function () {
            business_unit_search("asset_get_businessUnit","business_unit_search")
            management_ip_search("asset_get_management_ip","management_ip_search")
            change_get_data("asset_get_cabinetsnum","asset__cabinet_num__cabinet_num_name","asset__cabinet_num","cabinet_num")
            $("#add").click(function () {
                $("#save").attr("network_id","")
                $("#server__children_system__name").empty()
                $("#asset__cabinet_num").empty()
                BusinessUnitOptList("asset_get_businessUnit","business_unit__name")
                BusinessUnitOptList("asset_get_cabinetscolum","asset__cabinet_num__cabinet_num_name")
                getOptChoices("asset__device_type_id")
                $("input").each(function () {
                    $(this).val("")
                })
            })//end add
            $(".edit").click(function () {
                var id=$(this).parent().parent().children().first().attr("id")
                var business_unit_id=$(this).parent().parent().children(".business_unit").attr("id")
                var cabinet_colum_id=$(this).parent().parent().children(".cabinet_colum").attr("id")
                var cabinet_num_id=$(this).parent().parent().children(".cabinet_num").attr("id")
                var device_type_id=$(this).parent().parent().children(".asset").attr("id")

                BusinessUnitOptList("asset_get_businessUnit","business_unit__name",business_unit_id)
                BusinessUnitOptList("asset_get_cabinetscolum","asset__cabinet_num__cabinet_num_name",cabinet_colum_id)
                BusinessUnitOptList("asset_get_cabinetsnum","asset__cabinet_num",cabinet_num_id,cabinet_colum_id)
                getOptChoices("asset__device_type_id",device_type_id)
                $("#save").attr("network_id",id)
                $.ajax({
                    type:"POST",
                    url:"{% url 'asset_network_edit' %}",
                    data:{"id":id},
                    dataType:"json",
                    success:function (callback){
                        $.each(callback,function (i,item) {
                            $("input#"+i+"").val(item)
                        })
                    }
                })//end ajax
            })//end edit
            $("#save").click(function () {
                var val_array={}
                var id=$(this).attr("network_id")
                $("input.server").each(function (i) {
                    k=$(this).attr("id")
                    v=$(this).val()
                    if(k=='asset__buy_date'){
                        if(v.length==0){
                            v="2017-11-01"
                        }
                    }
                    if(v.length==0){
                        val_array[k]=null
                    }else{
                        val_array[k]=v
                    }
                })//end each
                $("select.server").each(function (i) {
                    k=$(this).attr("id")
                    v=$(this).val()
                    val_array[k]=v
                })//end each
                $.ajax({
                    type:"POST",
                    url:"{% url 'asset_network_save' %}",
                    data:{"data":JSON.stringify(val_array),"id":id},
                    dataType:"json",
                    success:function (callback) {
                        if(callback.status){
                            window.location.reload()
                        }
                        else{
                            alert(callback.mes)
                        }
                    }//end callback
                })//end ajax

            })//end save
            $("#asset_export").click(function () {
                $.ajax({
                    type : 'POST',
                    url: "{% url 'asset_export' %}",
                    dataType: "text",
                    success:function (callback) {
                        window.location.href="{% url 'asset_export' %}"
                    }
                })
            })
            function BusinessUnitOptList(url,id,business_unit_id="",last_id="") {
                $("#"+id+"").empty()
                $.ajax({
                    type:"POST",
                    url:"/asset/"+url+"/",
                    data:{"data":last_id},
                    dataType:"json",
                    success:function (callback){
                        $.each(callback,function (i,item) {
                            var op=document.createElement("option")
                            op.value=item.pk
                            op.innerHTML=item.fields.name
                            $("#"+id+"").append(op)
                            $("#"+id+"").val(business_unit_id)
                            {#$("#"+id+"").selectpicker('val',business_unit_id);#}
                            {#$("#"+id+"").selectpicker('refresh');#}
                        })
                    }

                })
            }//end BusinessUnitOptList
            function getOptChoices(id,device_type_id) {
                $.ajax({
                    type:"POST",
                    url:"{% url 'asset_get_choices' %}",
                    dataType:"json",
                    success:function (callback){
                        $("#"+id+"").empty()
                        $.each(callback,function (i,item) {
                            var op=document.createElement("option")
                            op.value=item[0]
                            op.innerHTML=item[1]
                            $("#"+id+"").append(op)
                            $("#"+id+"").val(device_type_id)
                            {#$("#"+id+"").selectpicker('val',device_type_id);#}
                            {#$("#"+id+"").selectpicker('refresh');#}
                        })
                    }
                })//end ajax
            }//end getOptChoices
            function change_get_data(url,id,sid,key1,key2="name") {
                //url=获取二级菜单内容的函数路径，id=一级菜单的div,sid=二级菜单的select id
                $(document).on("change","#"+id+"",function(e){
                    $("#"+sid+"").empty()
                    {#var values=$(this).selectpicker('val');#}
                    var values=$(this).val()
                    $.ajax({
                        type:"POST",
                        url:"/asset/"+url+"/",
                        data:{"data":values},
                        dataType:"json",
                        success:function (callback){
                            if(callback.length==0){
                                build_option_0(sid)
                            }else{
                                $.each(callback,function (i,item) {
                                    build_option(id,sid,item,key1,"name")
                                })
                            }
                        }
                    })//end ajax

                }) //end onchange
            }//end change_get_data
            function build_option(id,sid,item,key1,key2) {
                //id=选择后的数据id,nid=二级联动的selectid,item=callback的值，key1=后台返回数据中的id,key2=后台返回数据中的内容
                var val=item["pk"]
                var htl=item["fields"][key2]
                var op=document.createElement("option")
                op.value=val
                op.innerHTML=htl
                $("#"+sid+"").append(op)
                $("#"+sid+"").val(sid)
                {#$("#"+sid+"").selectpicker('val',sid);#}
                {#$("#"+sid+"").selectpicker('refresh');#}
            }//end build_option
            function build_option_0(sid) {
                var op=document.createElement("option")
                //op.value="False"
                op.innerHTML="Null"
                $("#"+sid+"").append(op)
                $("#"+sid+"").val(sid)
                {#$("#"+sid+"").selectpicker('val',sid);#}
                {#$("#"+sid+"").selectpicker('refresh');#}
            }
            function business_unit_search(url,id) {
                $("#"+id+"").empty()
                $.ajax({
                    type:"POST",
                    url:"/asset/"+url+"/",
                    dataType:"json",
                    success:function (callback){
                        $.each(callback,function (i,item) {
                            var op=document.createElement("option")
                            op.value=item.pk
                            op.innerHTML=item.fields.name
                            $("#"+id+"").append(op)
                            $("#"+id+"").selectpicker('refresh');
                        })
                    }
                })
            }//end BusinessUnitOptList
            function management_ip_search(url,id) {
                $("#"+id+"").empty()
                $.ajax({
                    type:"POST",
                    url:"/asset/"+url+"/",
                    dataType:"json",
                    success:function (callback){
                        $.each(callback,function (i,item) {
                            var op=document.createElement("option")
                            op.value=item.pk
                            op.innerHTML=item.fields.management_ip
                            $("#"+id+"").append(op)
                            $("#"+id+"").selectpicker('refresh');
                        })
                    }
                })
            }//end BusinessUnitOptList
        })//end all
    </script>
{% endblock %}