<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class=”row” style=”width:2000px;”>
  <div class=”span3″  style=”border-style:solid;”>
         <h2>2021 机柜</h2>
         <table border=”0″>
               <tr style=”width:268px; height:50px;”>
                   <!– background=”33.png” style=”position: relative;” –>
                 <td><img src="/static/img/server.gif" alt=”10.2.20.111″ rel=”tooltip” data-original-title=’IP地址:10.2.20.111<br>状态:ok<br>ping status: ok<br>型号:Hp dl380<br>U数:23<br>system:Centos 6.4<br>项目组:私有云<br>项目负责人:tim gao<br>点击查看’></img></td>
               </tr>
               <tr style=”width:268px; height:60px;”>
                 <td><img src="/static/img/server.gif" alt=”10.2.20.112″ rel=”tooltip” data-original-title=’IP地址:10.2.20.112<br>状态:ok<br>ping status: ok<br>型号:Hp dl380<br>U数:23<br>system:Centos 6.4<br>项目组:私有云<br>项目负责人:tim gao<br>点击查看’></img></td>
               </tr>
               <tr  style=”width:268px; height:60px;”>
                 <td><img src="/static/img/server.gif" alt=”10.2.20.113″ rel=”tooltip” data-original-title=’IP地址:10.2.20.113<br>状态:ok<br>ping status: ok<br>型号:Hp dl380<br>U数:23<br>system:Centos 6.4<br>项目组:私有云<br>项目负责人:tim gao<br>点击查看’></img></td>
                  </tr>
               <tr  style=”width:268px; height:60px;”>
                 <td><img src="/static/img/server.gif" alt=”10.2.20.114″ rel=”tooltip” data-original-title=’IP地址:10.2.20.114<br>状态:ok<br>ping status: ok<br>型号:Hp dl380<br>U数:23<br>system:Centos 6.4<br>项目组:私有云<br>项目负责人:tim gao<br>点击查看’></img></td>
               </tr>
                <tr  style=”width:268px; height:60px;”>
                 <td><img src="/static/img/server.gif" alt=”10.2.20.115″ rel=”tooltip” data-original-title=’IP地址:10.2.20.115<br>状态:ok<br>ping status: ok<br>型号:Hp dl380<br>U数:23<br>system:Centos 6.4<br>项目组:私有云<br>项目负责人:tim gao<br>点击查看’></img></td>
               </tr>
                <tr  style=”width:268px; height:60px;”>
                 <td><img src="/static/img/server.gif" alt=”10.2.20.116″ rel=”tooltip” data-original-title=’IP地址:10.2.20.116<br>状态:ok<br>ping status: ok<br>型号:Hp dl380<br>U数:23<br>system:Centos 6.4<br>项目组:私有云<br>项目负责人:tim gao<br>点击查看’></img></td>
               </tr>
                <tr  style=”width:268px; height:60px;”>
                 <td><img src="/static/img/server.gif" alt=”10.2.20.117″ rel=”tooltip” data-original-title=’IP地址:10.2.20.117<br>状态:ok<br>ping status: ok<br>型号:Hp dl380<br>U数:23<br>system:Centos 6.4<br>项目组:私有云<br>项目负责人:tim gao<br>点击查看’></img></td>
               </tr>
                <tr  style=”width:268px; height:60px;”>
                 <td><img src="/static/img/server.gif" alt=”10.2.20.118″ rel=”tooltip” data-original-title=’IP地址:10.2.20.118<br>状态:ok<br>ping status: ok<br>型号:Hp dl380<br>U数:23<br>system:Centos 6.4<br>项目组:私有云<br>项目负责人:tim gao<br>点击查看’></img></td>
               </tr>
               <tr  style=”width:268px; height:60px;”>
                 <td><img src="/statics/img/server.gif" alt=”10.2.20.119″ rel=”tooltip” data-original-title=’IP地址:10.2.20.119<br>状态:ok<br>ping status: ok<br>型号:Hp dl380<br>U数:23<br>system:Centos 6.4<br>项目组:私有云<br>项目负责人:tim gao<br>点击查看’></img></td>
               </tr>
             </table>
       </div>
</div>
</body>
</html>